<% @users.each do |user| %>
  <div calss="user">
    <b>User Name:</b> <%= user.name %> <%= user.lname %> (<%= user.login %>)
    <%= link_to 'Show', user %>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
<br />
<% link_to 'Nwe User', new_user_path %>
