<!DOCTYPE html>
<html>
  <head>
    <title>Test Blog</title>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><a href="/">Test Blog</a></h1>
      </div>
      <div id="navigation">

       <%= render 'devise/menu/login_items' %>

      </div>
      <div id="content-container">
        <div id="content">
          <%= yield %>
        </div>
        <div id="right-bar">
          <%= render 'layouts/categories_list' %>
        </div>
        <div id="footer">
          © Valikos ©
        </div>
      </div>
    </div>
  </body>
</html>